button, select, option{
	display: block;
	margin: 0px;
	margin-left: 3px;
	padding: 4px;
	padding-top: 3px;
	width: 186px;
	background-color: #777;
	color: black;
	margin-bottom: 3px;
}

button:hover{
	background-color: #ddd;
}

button:on{
	background-color: #cdc;
}

option{
	background-color: #666;
	margin: 0px;
}

scrollbarvertical, scrollbarhorizontal{
	background-color: #333;
}

scrollbarvertical{
	width: 7px;
}

sliderbar{
	background-color: #555;
}